# Hooks with the same priority will be run concurrently by `prek`.
#
# Priority 0 is read-only hooks, and hooks that modify disjoint file types.
# Priorities 0-2 includes some lint-autofix hooks, so various read-only lint
# hooks are included in priority >=2 to ensure they don't report lint
# violations that have already been fixed by earlier hooks.

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
        priority: 0
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        language: python # means renovate will update the `additional_dependencies` for the hook
        additional_dependencies: ["tomli"]
        priority: 0
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        priority: 0
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.1
    hooks:
      - id: check-github-workflows
        priority: 0
  # `actionlint` hook, for verifying correct syntax in GitHub Actions workflows.
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
        additional_dependencies:
          # actionlint has a shellcheck integration which extracts shell scripts in `run:` steps from GitHub Actions
          # and checks these with shellcheck. This is arguably its most useful feature,
          # but the integration only works if shellcheck is installed
          - "github.com/wasilibs/go-shellcheck/cmd/shellcheck@v0.11.1"
        language: golang # means renovate will also update `additional_dependencies`
        priority: 0
  # zizmor detects security vulnerabilities in GitHub Actions workflows.
  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor
        priority: 0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        priority: 0
      - id: check-toml
        priority: 0
      - id: check-merge-conflict
        priority: 0
      - id: check-case-conflict
        priority: 0
      - id: end-of-file-fixer
        priority: 0
      - id: trailing-whitespace
        priority: 1
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        priority: 0
      - id: markdownlint-fix
        priority: 2
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        exclude_types: ["markdown"]
        priority: 2
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        priority: 2
      - id: ruff-format
        priority: 3
