name: typeshed_primer

on:
  pull_request:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1
  CLICOLOR_FORCE: 1 # recognized by uv

jobs:
  typeshed_primer:
    timeout-minutes: 5
    runs-on: depot-ubuntu-latest-8
    permissions:
      contents: read
    steps:
      - name: Checkout docstring-adder on target branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ github.base_ref }}
          path: old_codemod
          persist-credentials: false
      - name: Checkout docstring-adder on PR branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          path: new_codemod
          persist-credentials: false
      - name: Checkout typeshed
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          repository: python/typeshed
          path: typeshed
          persist-credentials: false
      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      - name: Setup git
        run: |
          git config --global user.name stubdefaulter
          git config --global user.email ''
      - name: Codemod typeshed using target branch
        run: |
          uvx --python=3.13 --from=./old_codemod add-docstrings --stdlib-path ./typeshed/stdlib
          uvx --python=3.9 --from=./old_codemod add-docstrings --stdlib-path ./typeshed/stdlib
          uvx --directory=typeshed black stdlib || true
          git -C typeshed commit -a -m "With old stubdefaulter"
      - name: Codemod typeshed using PR branch
        run: |
          git -C typeshed checkout HEAD~1 -- stdlib
          git -C typeshed restore --staged stdlib
          uvx --python=3.13 --from=./new_codemod add-docstrings --stdlib-path ./typeshed/stdlib
          uvx --python=3.9 --from=./new_codemod add-docstrings --stdlib-path ./typeshed/stdlib
          uvx --directory=typeshed black stdlib || true
      - name: Get the diff between the two docstring-adder runs
        run: git -C typeshed diff | tee docstring-adder-diff.txt
      - name: Upload diff
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: docstring-adder-diff
          path: docstring-adder-diff.txt
