name: Post typeshed_primer comment

on:
  workflow_run: # zizmor: ignore[dangerous-triggers]
    workflows:
      - typeshed_primer
    types:
      - completed

permissions:
  contents: read
  pull-requests: write

env:
  FORCE_COLOR: 1
  CLICOLOR_FORCE: 1 # recognized by uv

jobs:
  comment:
    name: Comment PR from typeshed_primer
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false
      - name: Download diff
        uses: actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b # v7.1.0
        with:
          script: await require('.github/scripts/typeshed_primer_download_diff.js')({github, context})
      - run: unzip diff.zip
      - name: Post comment
        id: post-comment
        uses: actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b # v7.1.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: return await require('.github/scripts/typeshed_primer_post_comment.js')({github, context})
      - name: Hide old comments
        # v0.4.0
        uses: kanga333/comment-hider@c12bb20b48aeb8fc098e35967de8d4f8018fffdf
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          leave_visible: 1
          issue_number: ${{ steps.post-comment.outputs.result }}
